<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE </h3>
<p>
    <a href="/login">Login</a> or create one <a href="/user/list">User management</a>
</p>

<p>
    Create one <a href="/bidList/list"> BidList management </a>
</p>
<p>
    Create one <a href="/curvePoint/list"> CurvePoint management </a>
</p>
<p>
    Create one <a href="/rating/list"> Rating management </a>
</p>
</body>
</html>